
Simplified model/PracticePS.zip
Simplified model/__pycache__/ParticleS.cpython-39.pyc
Simplified model/__pycache__/ParticleS.cpython-310.pyc
Simplified model/__pycache__/AbstractForce.cpython-39.pyc
Simplified model/__pycache__/AbstractForce.cpython-310.pyc
